body {
  margin: 0;
  font-family: inherit;
}

#inicio {
  background: url("../assets/Imagens/Iniciar/telainicial.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btnIniciar {
  color: rgb(245, 245, 245);
  margin-top: 190px;
  padding: 10px 30px;
  font-size: 25px;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
  background-color: rgb(240, 143, 63);
  border: 4px solid rgb(180, 87, 10);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
#btnIniciar:hover {
  transform: scale(1.4);
}

.fase {
  display: none;
  height: 100vh;
  position: relative;
}

.ativa {
  display: block;
}

#fase1 {
  background: url("../assets/Imagens/fase1/sala.png") center/cover;
}
#fase2 {
  background: url("../assets/Imagens/fase2/quarto.png") center/cover;
}
#fase3 {
  background: url("../assets/Imagens/fase3/cozinha.png") center/cover;
}

.obj {
  position: absolute;
  width: 60px;
  cursor: pointer;
  transition: 0.3s;
}
.obj:hover {
  transform: scale(1.4);
}

.p1 {
  top: 50%;
  left: 20%;
}
.p2 {
  top: 60%;
  left: 70%;
}
.p3 {
  top: 40%;
  left: 50%;
}
.p4 {
  top: 30%;
  left: 30%;
}
.p5 {
  top: 70%;
  left: 60%;
}
.p6 {
  top: 50%;
  left: 80%;
}
.p7 {
  top: 20%;
  left: 40%;
}
.p8 {
  top: 80%;
  left: 20%;
}
.p9 {
  top: 60%;
  left: 40%;
}
.p10 {
  top: 30%;
  left: 70%;
}
.p11 {
  top: 40%;
  left: 20%;
}
.p12 {
  top: 70%;
  left: 30%;
}
.p13 {
  top: 50%;
  left: 60%;
}
.p14 {
  top: 20%;
  left: 80%;
}
.p15 {
  top: 80%;
  left: 40%;
}
.p16 {
  top: 60%;
  left: 20%;
}

#final {
  font-family: "Luckiest Guy", cursive;
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
